
/*
    请注意，生产环境使用的是index.min.css压缩文件
    您可以安装Bundler & Minifier插件，使压缩文件跟随该文件自动更新
    https://marketplace.visualstudio.com/items?itemName=MadsKristensen.BundlerMinifier
*/

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ced7dc;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

.is-full-screen {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    transition: background-color .2s ease-in-out;
    background-color: transparent;
    background-image: none;
}

    .navbar .navbar-item:hover {
        background-color: transparent;
    }

    .navbar .has-underline:hover {
        border-bottom: 1px solid;
        color: #4a4a4a;
    }

.navbar-link:not(.is-arrowless)::after {
    border-color: #4a4a4a;
}

.navbar-link:hover {
    color: #4a4a4a;
}

.navbar-end {
    overflow: hidden;
}

.header {
    position: relative;
    top: 26%;
    width: 65%;
    margin: auto;
}

    .header .is-gap-line {
        margin: .3rem 0;
    }

#downArrow {
    width: 100%;
    position: absolute;
    bottom: 24px;
}

@keyframes fade-jump {
    0% {
        opacity: 0;
        transform: translateY(45px);
        -webkit-transform: translateY(45px);
    }

    60% {
        opacity: 1;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.fade-jump-in {
    animation: fade-jump .6s ease;
    -webkit-animation: fade-jump .6s ease;
}

@keyframes float {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.is-floating {
    animation: float 2.5s ease infinite;
}

@keyframes jump-in {
    0% {
        transform: translateY(60px);
        -webkit-transform: translateY(60px);
    }

    60% {
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.jump-in {
    animation: jump-in .5s ease;
    -webkit-animation: jump-in .5s ease;
}