/*-------------------------------

    Global

--------------------------------- */

@import "~bulma/css/bulma.min.css";

/* scrollbar */
::-webkit-scrollbar {
	width: 5px;
	background-color: #fff
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #4a4a4a
}

::-webkit-scrollbar-track {
	background-color: #fff
}

/* cover Bulma default styles */
.button {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button:hover {
	box-shadow: 0 10px 20px hsla(0,0%,86.3%,.5);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.box {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	border-radius: 6px;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	border-radius: 6px;
	transition: all .2s ease-in-out;
}

.card:hover {
	box-shadow: 0 10px 20px hsla(0,0%,86.3%,.5);
	transform: translateY(-3px);
	-webkit-transform: translateY(-3px);
}

.card img {
	border-radius: 6px 6px 0px 0px;
}

/*aos会使web出现X轴滚动条，给父div指定no-overflow-x可以避免这种情况*/
/*.no-overflow-x {
	overflow-x: hidden;
}*/

/* text float when hover */
.is-float-text {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.is-float-text:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

/*form中input的样式*/
/*.form-item {
	width: 100%;
	max-width: 100%;
	padding: 1rem;
	border: none;
	background: #f0f0f5;
	border-radius: 1rem;
	font-size: 1rem;
	outline: none;
	transition: all .2s ease-in-out;
}*/

/* title underline */
.has-shadow-green {
	box-shadow: inset 0 -6px 0 rgba(35,209,153,.2);
}

.has-shadow-yellow {
	box-shadow: inset 0 -6px 0 rgba(255,221,87,.2);
}

.has-shadow-violet {
	box-shadow: inset 0 -6px 0 rgba(184,107,255,.2);
}

.has-shadow-blue {
	box-shadow: inset 0 -6px 0 rgba(4,126,212,.2);
}

/*button主题色*/
/*.is-twitter {
	color: #fff !important;
	background-color: #1da1f2;
	border-color: #1da1f2;
}

.is-twitter:hover {
	border-color: #1da1f2;
}

.is-instagram {
	color: #fff !important;
	background-color: #db2a84;
	border-color: #db2a84;
}

.is-instagram:hover {
	border-color: #db2a84;
}

.is-weibo {
	color: #fff !important;
	background-color: #e6162d;
	border-color: #e6162d;
}

.is-weibo:hover {
	border-color: #e6162d;
}

.is-jike {
	color: #fff !important;
	background-color: #f8de11;
	border-color: #f8de11;
}

.is-jike:hover {
	border-color: #f8de11;
}

.is-linkedin {
	color: #fff !important;
	background-color: #0077b5;
	border-color: #0077b5;
}

.is-linkedin:hover {
	border-color: #0077b5;
}*/

/*占位分割线，控制间距*/
/*.is-gap-line {
	background-color: none;
	border: none;
	display: block;
	height: 0px;
	margin: 1.5rem 0;
}

.box .is-gap-line {
	background-color: none;
	border: none;
	display: block;
	height: 0px;
	margin: .5rem 0;
}*/