
.navbar {
    transition: background-color .2s ease-in-out;
    background-color: transparent;
    background-image: none;
}

.navbar .navbar-item:hover {
    background-color: transparent;
}

.navbar .has-underline:hover {
    border-bottom: 1px solid;
    color: #4A4A4A;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #4A4A4A;
}

.navbar-link:hover {
    color: #4A4A4A;
}

.navbar-end {
    overflow: hidden;
}

.hello-div {
    position: relative;
    top: 26%;
    width: 65%;
    margin: auto;
}

.gap-top {
    margin-top: 1rem;
}

.section {
    background-color: white;
}

.jump-in {
    animation: jump-in .5s ease;
    -webkit-animation: jump-in .5s ease;
}

.fade-jump-in {
    animation: fade-jump .6s ease;
    -webkit-animation: fade-jump .6s ease;
}

@keyframes jump-in {
    0% {
        transform: translateY(60px);
        -webkit-transform: translateY(60px);
    }

    60% {
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@keyframes fade-jump {
    0% {
        opacity: 0;
        transform: translateY(45px);
        -webkit-transform: translateY(45px);
    }

    60% {
        opacity: 1;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
