<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreMe</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
              asp-fallback-href="~/lib/bulma/bulma.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/shared/_layout.min.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    <footer class="footer">
        <div class="content has-text-centered">
            <p id="footerInfo">
                🚀&thinsp;Powered&nbsp;by&nbsp;@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
                <br /><a class=has-text-black href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank"><u>C#</u></a>
                &nbsp;<a class=has-text-black href="https://www.typescriptlang.org/" target="_blank"><u>TypeScript</u></a>
                &nbsp;<a class=has-text-black href="https://vuejs.org/" target="_blank"><u>Vue</u></a>
                &nbsp;<a class=has-text-black href="https://bulma.io" target="_blank"><u>Bulma</u></a>
                <br />Photo&nbsp;by&nbsp;<a class=has-text-black href="https://unsplash.com/powwpic" target="_blank"><u>Ines&nbsp;Álvarez&nbsp;Fdez</u></a>
                <br />Source&nbsp;code&nbsp;on&nbsp;<a class=has-text-black href="https://github.com/Surbowl/core-me" target="_blank"><u>Github</u></a>
                <br /><a class="has-text-grey-dark is-size-7" href="http://www.beian.miit.gov.cn/">闽ICP备xxxxxxx号-x</a>
            </p>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
