@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/home/index.min.css" asp-append-version="true"/>
}

<div id="app-root">
</div>

@section scripts {
    <script src="~/js/home/index.min.js" asp-append-version="true"></script>
}