@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/lib/bulma/bulma.min.css" asp-append-version="false" />
}

<div id="app-root">
</div>

@section scripts {
    <script src="~/js/home/index.min.js" asp-append-version="true"></script>
}