@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/home/index.min.css" asp-append-version="true" />
}

<div id="app-root" style="width:inherit;height:inherit;">
    <div id="downArrow" class="has-text-centered is-size-5 is-floating"><span class="icon-chevron-down" onclick="toAbout()"></span></div>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" onclick="toHeader()"><img src="~/images/home/nav.png" height="40"></a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu no-overflow-x">
            <div class="navbar-end" data-aos="fade-left" aos-once="true">
                <a class="navbar-item has-underline" onclick="toAbout()">关于我</a>
                <a class="navbar-item has-underline" onclick="toSkills()">技术</a>
                <a class="navbar-item has-underline" onclick="toWorks()">项目</a>
                <a class="navbar-item has-underline is-hidden-desktop" onclick="toContact()">打个招呼</a>
                <a id="contactBtn_1" class="navbar-item has-underline is-hidden-touch" onclick="toContact()">打个招呼</a>
                <a id="contactBtn_2" class="navbar-item is-hidden is-hidden-touch jump-in" onclick="toContact()">
                    <button class="button is-primary is-rounded"><span>Hello&nbsp;<span role="img" aria-label="emoji">👋</span></span></button>
                </a>
            </div>
        </div>
    </nav>
    @*开始*@
    @*针对宽屏，desktop及以上*@
    <div class="columns is-full-screen is-hidden-mobile">
        <div class="column is-half has-background-white">
            <div class="header fade-jump-in">
                <hr class="is-gap-line" />
                <div class="is-float-text"><span class="has-text-grey-dark is-size-3">Hi&thinsp;<span id="face" role="img" aria-label="emoji">😃</span></span></div>
                <div class="is-float-text"><span class="has-text-grey-darker is-size-2">我是CORE-ME</span></div>
                <div class="is-float-text"><span class="has-text-grey-dark is-size-5">一名物联网学生</span></div>
                <hr class="is-gap-line" />
                <a class="button is-primary is-rounded is-medium" onclick="toContact()"><span>Hello&nbsp;<span role="img" aria-label="emoji">👋</span></span></a>
            </div>
        </div>
    </div>
    @*针对移动设备，mobile及以下*@
    <div class="is-full-screen is-hidden-tablet has-background-white">
        <div class="header fade-jump-in has-text-centered">
            <div><span class="has-text-grey-dark is-size-3">Aloha&thinsp;<span role="img" aria-label="emoji">😃</span></span></div>
            <div><span class="has-text-grey-darker is-size-2">我是CORE-ME</span></div>
            <div><span class="has-text-grey-dark is-size-5">一名物联网学生</span></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/home/index.min.js" asp-append-version="true"></script>
}