@{
    ViewData["Title"] = "Home";
    ViewData["OgTitle"] = "Hi, I'm Jiewen";
    ViewData["OgDescription"] = "Nice to see you";
}
@section styles{
    <link rel="stylesheet" href="~/dist/css/home/main.css" asp-append-version="true" />
}
@section scripts{
    <script>var _runtimeInfo={framework:"@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription"}</script>
    <script src="~/dist/js/home/bundle.js" asp-append-version="true"></script>
}
<div id="app"></div>