@{
    ViewData["Title"] = "Home";
}
@section styles{
    <link rel="stylesheet" href="~/dist/css/home/main.css" asp-append-version="true" />
}
@section scripts{
    <script src="~/dist/js/home/bundle.js" asp-append-version="true"></script>
}
<div id="app"></div>