@{
    ViewData["Title"] = "Home";
    ViewData["OgTitle"] = "Hi，我是杰文";
    ViewData["OgDescription"] = "Nice to see you ~";
}
@section styles{
<link rel="stylesheet" href="~/dist/css/home/zh/main.css" asp-append-version="true" />
}
@section scripts{
<script>var _runtimeInfo={framework:"@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription"}</script><script src="~/dist/js/home/zh/bundle.js" asp-append-version="true"></script>
}
<div id="app"></div>